body, div, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    letter-spacing: 2px;
}

#wrapper > ul > li {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#25dcf2+0,7797e3+100 */
    background: #25dcf2; /* Old browsers */
    background: -moz-linear-gradient(top,  #25dcf2 0%, #7797e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #25dcf2 0%,#7797e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #25dcf2 0%,#7797e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25dcf2', endColorstr='#7797e3',GradientType=0 ); /* IE6-9 */
}

#wrapper > ul > li {
    display: inline-block;
    border: 1px solid #000;
}

#wrapper > ul {
    float: left;
}

.content{
    display: none;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdffff+0,a0d8ef+100 */
    background: #fdffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdffff 0%, #a0d8ef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fdffff 0%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fdffff 0%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 
    */
    position: absolute;
}

#wrapper > ul > li:nth-child(1),
#wrapper > ul > li:nth-child(2) {
    height: 30px;
    width: 80px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}

#wrapper > ul > li:nth-child(2) {
    margin-left: 7px;
}

#wrapper > ul > li:nth-child(3) {
    height: 30px;
    width: 120px;
    text-align: center;
    padding-top: 10px;
    margin-left: 5px;
    padding-left: 1px;
    border-radius: 10px;
}

.menu {
    margin-top: 7px;
    margin-left: 8px;
}

#wrapper > ul > li:nth-child(1):hover,
#wrapper > ul > li:nth-child(2):hover {
    height: 45px;
    width: 145px;
}

#wrapper > ul > li:nth-child(3):hover {
    height: 45px;
    width: 200px;;
}

#wrapper > ul > li:hover>.content {
    display: block;
    width: 290px;
    height: 115px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    box-sizing: border-box;
}


#wrapper > ul > li > div > h3{
    text-decoration: underline;
    /*position: relative;
    top: 5px;
    left: 20px;*/
    letter-spacing: 1px;
 }


#wrapper > ul > li > div > p {
    /*position: relative;
    top: 50px;
    left: -80px;*/
    text-align: justify;
}

/*

   height: 45px;
    width: 145px;
    margin-top: 20px;
    




